@import "../costants";

.default-button {
	position: relative;
	border-radius: 8px;
	outline: none;
	border: 1px solid var(--text-color);
	color: var(--text-color);
	padding: 8px;
	font-weight: 600;
	background-color: unset;
	transition: $transition;

	&:disabled {
		border-color: var(--gray);
		color: var(--gray);
		pointer-events: none;
		cursor: default;
	}

	&:hover {
		color: $white;
		border-color: $white;
		transform: scale(1.1);
	}

	&.green {
		border: 1px solid $white;
		color: $white;
		&:hover {
			background-color: var(--green);
			border-color: $white;
		}
	}

	&:active {
		transform: scale(0.9);
	}
}