@import "../costants";

.default-button {
	position: relative;
	border-radius: 8px;
	outline: none;
	border: 1px solid $text-color;
	color: $text-color;
	padding: 8px;
	font-weight: 600;
	background-color: unset;
	transition: $transition;

	&:disabled {
		border-color: $gray;
		color: $gray;
		pointer-events: none;
		cursor: default;
	}

	&:hover {
		color: $white;
		border-color: $white;
		transform: scale(1.1);
	}

	&.green {
		border: 1px solid $white;
		color: $white;
		&:hover {
			background-color: $green;
			border-color: $white;
		}
	}

	&:active {
		transform: scale(0.9);
	}
}