@import "src/Styles/costants";
@import "src/Styles/placeholders";

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	transition: margin-left $transition;

	.openedNav {margin-left: 300px;}

	#header {
		position: fixed;
		width: 100vw;
	}

	#main {
		transition: inherit;
		margin-top: 100px;
		flex: 1 0 auto;
	}

	#footer {
		transition: inherit;
		flex: 0 0 auto;
		padding: 20px 0;
		border-top: 1px solid rgba($gray, .5);

		.container {
			.contacts {
				@extend %flex-center;
				gap: 20px;

				&_item {
					@include size(30px, 30px, 100%);
					@extend %flex-center;
					cursor: pointer;
					transition: $transition;
					border: 1px solid transparent;

					svg {
						@include size(60%);
					}

					&:hover {
						border: 1px solid $green;
						box-shadow: $box-shadow;
					}
				}
			}
		}
	}
}

.navigation__container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	width: 300px;

	.navigation-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 300px;
		background: rgb(33, 37, 41);
	}

	.navigation-burger {
		outline: none;
		border: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		cursor: pointer;
		position: absolute;
		top: 12px;
		left: 12px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: transparent;

		svg path {
			stroke: $white;
		}
	}
}