$max-width: 1680px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

%flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin ellipsis($line:1) {
	text-overflow: ellipsis;
	overflow: hidden;
	@if $line == 1 {
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		-webkit-line-clamp: $line;
		-webkit-box-orient: vertical;
	}
}

@mixin size($w, $h:$w, $bdrs:0,) {
	width: $w;
	height: $h;
	border-radius: $bdrs;
}

@mixin media($size) {
	@media screen and (max-width: $size) {
		@content;
	}
}
